<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
 
    <!-- SIDEBAR -->
	<section id="sidebar">
		<a routerLink="#" class="brand"><i class='bx bxs-smile icon'></i> Eas4trainee .</a>
		<ul class="side-menu">
			<li><a routerLink="#" class="active"><i class='bx bxs-dashboard icon' ></i> Admin Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			<li>
				<a routerLink="#"><i class='bx bxs-inbox icon' ></i> Elements <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a routerLink="#">management</a></li>
					<li><a routerLink="#">Badges</a></li>
					<li><a routerLink="#">help</a></li>
				</ul>
			</li>
			<li><a routerLink="#"><i class='bx bxs-chart icon' ></i> Charts</a></li>
			<li><a routerLink="#"><i class='bx bxs-widget icon' ></i> pages</a></li>
			<li class="divider" data-text="fonctionalities">offers</li>
			<li><a routerLink="#"><i class='bx bxs-user-rectangle icon'></i> profiles</a></li>
			<li>
				<a routerLink="#"><i class='bx bxs-notepad icon' ></i> offers </a>
				
			</li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

   
</body>