<div class="container-scroller">
    <app-studentnavbar></app-studentnavbar>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <div class="card-box text-center">
                            <form [formGroup]="profileForm" class="uppicture">
                                <div class="highlight">
                                    <div class="head">
                                        <div class="thumbnail">
                                            <img src="../../assets/mypic.jpg" class="photo" alt="profile-image">
                                        </div>

                                    </div>
                                    <!--head-->

                                </div>
                                <div class="row personal">

                                    <div class="upload split">
                                        <p>
                                            <input type="file" formControlName="file">
                                        </p>
                                    </div>

                                </div>

                            </form>
                            <h4 class="mb-0">{{student?.name}}</h4>
                            <p class="text-muted">{{student?.role}}</p>
                            <!--<button type="button" class="btn btn-success btn-xs waves-effect mb-2 waves-light">Follow</button>
        <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Message</button>-->
                            <div class="text-left mt-3">
                                <h4 class="font-13 text-uppercase">About Me :</h4>
                                <p class="text-muted font-13 mb-3">
                                    {{student?.bio}}
                                </p>
                                <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span
                                        class="ml-2">{{student?.firstname}} {{student?.LastName}}</span></p>
                                <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span
                                        class="ml-2">{{student?.Number}}</span></p>
                                <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2 "><a
                                            class="__cf_email__"
                                            data-cfemail="a9dcdaccdbe9ccc4c8c0c587cdc6c4c8c0c7">{{student?.email}}</a></span>
                                </p>
                                <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span
                                        class="ml-2">{{student?.city}}</span></p>
                            </div>
                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-purple text-purple"><i
                                            class="fab fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i
                                            class="fab fa-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);"
                                        class="social-list-item border-secondary text-secondary"><i
                                            class="fab fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="card-box">
                            <div class="tab-pane" id="Skills">
                                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    
                                    <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i>
                                        Add New Experience</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="TitreExperience">TitreExperience</label>
                                                <input type="text" class="form-control" id="TitreExperience"
                                                    formControlName="TitreExperience" placeholder="Enter you experience">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="PlaceExperience">Place</label>
                                                <input type="email" class="form-control" id="PlaceExperience"
                                                    formControlName="PlaceExperience" placeholder="Enter the place">
                                            </div>
                                        </div>
                                    </div>
    
    
                                    <div class="sub d-flex flex-row justify-content-between">
                                        <a href="#Skills" data-toggle="tab" aria-expanded="true"
                                            class="nav-link ml-0 active">
                                            <i class="mdi mdi-arrow-left  mr-1"></i>Back
                                        </a>
    
                                        <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i
                                                class="mdi mdi-content-save"></i> Save</button>
    
                                    </div>
                                </form>
    
                            </div>

                            <div class="sub d-flex flex-row justify-content-between">
                                <h4 class="header-title">Skills</h4>

                                <a href="#Skills" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    Add Skills <i class="mdi mdi-plus" style="font-size: 24px;"></i>
                                </a>

                            </div>
                            <p class="mb-3">Everyone realizes why a new common language would be desirable</p>
                            <div class="pt-1">
                                <h6 class="text-uppercase mt-0">HTML5 <span class="float-right">90%</span></h6>
                                <div class="progress progress-sm m-0">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                        <span class="sr-only">90% Complete</span>
                                    </div>
                                </div>
                            </div>



                        </div>
                         -->
                        <div class="down">
                            <button type="submit" class="btn btn-download  waves-effect waves-light mt-2"><i
                                    class="mdi mdi-cloud-download"></i> Download profile as CV</button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-8">
                        <div class="card-box">
                            <ul class="nav nav-pills navtab-bg">
                                <li class="nav-item">
                                    <a href="#about-me" data-toggle="tab" aria-expanded="true"
                                        class="nav-link ml-0 active">
                                        <i class="mdi mdi-face-profile mr-1"></i>About Me
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        <i class="mdi mdi-settings-outline mr-1"></i>Settings
                                    </a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="about-me">
                                    <div class="sub d-flex flex-row justify-content-between">
                                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-cube-outline mr-1"></i>Skills</h5>

                                        <a href="#Skills" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Add Skills <i class="mdi mdi-plus" style="font-size: 24px;"></i>
                                        </a>

                                    </div>
                                 <!-- show skill -->
                                    <ul class="list-unstyled ">
                                        <div class="pt-1" *ngFor="let studentSkill of studentSkills">
                                            <h6 class="text-uppercase mt-0">{{studentSkill?.Skill.nameskill}}  
                                                <span class="float-right">{{studentSkill?.percentage}}%</span>
                                            </h6>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar"
                                                   aria-valuemin="0" aria-valuemax="100"
                                                    [style.width]="studentSkill.percentage">
                                                    <span class="sr-only">{{studentSkill.percentage}}% Complete</span>
                                                </div>
                                            </div>
                                        </div>

                                    </ul>

                                    <div class="sub d-flex flex-row justify-content-between">
                                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>Experience
                                        </h5>

                                        <a href="#Experience" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Add Experience <i class="mdi mdi-plus" style="font-size: 24px;"></i>
                                        </a>

                                    </div>

                                    <!-- show experience -->
                                    <ul class="list-unstyled timeline-sm">
                                        <li class="timeline-sm-item"  *ngFor="let studentExperience of studentExperiences">
                                            <span class="timeline-sm-date">{{studentExperience?.DateExperience}}</span>
                                            <h5 class="mt-0 mb-1">{{studentExperience?.TitreExperience}}</h5>
                                            <p>{{studentExperience?.PlaceExperience}}</p>
                                            <p class="text-muted mt-2">{{studentExperience?.descriptionExperience}}</p>
                                        </li>

                                    </ul>
                                    <div class="sub d-flex flex-row justify-content-between">
                                        <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i>
                                            Projects</h5>

                                        <a href="#Project" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Add Project <i class="mdi mdi-plus" style="font-size: 24px;"></i>
                                        </a>

                                    </div>

                                    <!-- show project -->

                                    <div class="table-responsive">
                                        <table class="table table-borderless mb-0">
                                            <thead class="thead-light">
                                                <tr>

                                                    <th>Project Name</th>
                                                    <th>Start Date</th>
                                                    <th>Due Date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let studentProject of studentProjects">
                                                <tr  >

                                                    <td>{{studentProject?.projectName}}</td>
                                                    <td>{{studentProject?.startDate}}</td>
                                                    <td>{{studentProject?.finDate}}</td>
                                                    <td><span class="badge badge-info">{{studentProject?.projectStatus}}</span>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane" id="settings">
                                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-account-circle mr-1"></i> Personal Info</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname">User Name</label>
                                                    <input type="text" class="form-control" id="firstname"
                                                        formControlName="name" placeholder="Enter first name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="useremail">Email Address</label>
                                                    <input type="email" class="form-control" id="useremail"
                                                        formControlName="email" placeholder="Enter email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname">First Name</label>
                                                    <input type="text" class="form-control" id="firstname"
                                                        formControlName="firstname" placeholder="Enter first name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname">Last Name</label>
                                                    <input type="text" class="form-control" id="lastname"
                                                        formControlName="LastName" placeholder="Enter last name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="userbio">Bio</label>
                                                    <textarea class="form-control" id="userbio" formControlName="bio"
                                                        rows="4" placeholder="Write something..."></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building mr-1"></i> Home Address</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="StreetAddress">Street Address</label>
                                                    <input type="text" class="form-control" id="StreetAddress"
                                                        formControlName="streetAdress"
                                                        placeholder="Enter your Street Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="City">City</label>
                                                    <input type="text" class="form-control" id="City"
                                                        formControlName="city" placeholder="Enter your City">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="State">State</label>
                                                    <input type="text" class="form-control" id="State"
                                                        formControlName="state" placeholder="Enter your State">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Postal">Postal Code</label>
                                                    <input type="number" class="form-control" id="postal"
                                                        formControlName="Postal" placeholder="Enter your Postal code">
                                                </div>
                                            </div>

                                        </div>
                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-office-building mr-1"></i> School Info</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="companyname">Study establishment</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="studyEstablishment" id="companyname"
                                                        placeholder="Enter Study establishment name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="cwebsite">field of study</label>
                                                    <input type="text" class="form-control" id="cwebsite"
                                                        formControlName="studyfield" placeholder="Enter website url">
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth mr-1"></i>
                                            Social</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="social-fb">Facebook</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fab fa-facebook-square"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="social-fb"
                                                            placeholder="Url" formControlName="Fb">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="social-tw">Phone Number</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="mdi mdi-phone"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="social-tw"
                                                            placeholder="Phone number" formControlName="Number">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="social-sky">Skype</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fab fa-skype"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="social-sky"
                                                            placeholder="@username" formControlName="WhatsApp">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="social-gh">Github</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fab fa-github"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="social-gh"
                                                            placeholder="Username" formControlName="GitHub">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="social-lin">Linkedin</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="fab fa-linkedin"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="social-lin"
                                                            placeholder="Url" formControlName="LinkedIn">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit"
                                                class="btn btn-success waves-effect waves-light mt-2"><i
                                                    class="mdi mdi-content-save"></i> Save</button>

                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="Experience">
                                    <form [formGroup]="profileForm" (ngSubmit)="AddExperience()">

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-account-circle mr-1"></i> Add New Experience</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="TitreExperience">TitreExperience</label>
                                                    <input type="text" class="form-control" id="TitreExperience"
                                                        formControlName="TitreExperience"
                                                        placeholder="Enter you experience">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="PlaceExperience">Place</label>
                                                    <input type="email" class="form-control" id="PlaceExperience"
                                                        formControlName="PlaceExperience" placeholder="Enter the place">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="descriptionExperience">descriptionExperience</label>
                                                    <input type="text" class="form-control" id="descriptionExperience"
                                                        formControlName="descriptionExperience"
                                                        placeholder="Enter you experience">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="DateExperience">DateExperience</label>
                                                    <input type="date" class="form-control" id="DateExperience"
                                                        formControlName="DateExperience" placeholder="Enter the place">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="text-right">
                                           

                                        </div> -->

                                        <div class="sub d-flex flex-row justify-content-between">
                                            <a href="#about-me" data-toggle="tab" aria-expanded="true"
                                                class="nav-link ml-0 active">
                                                <i class="mdi mdi-arrow-left  mr-1"></i>Back
                                            </a>

                                            <button type="submit"
                                                class="btn btn-success waves-effect waves-light mt-2"><i
                                                    class="mdi mdi-content-save"></i> Save</button>

                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="Project">
                                    <form [formGroup]="profileForm" (ngSubmit)="AddProject()">

                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i
                                                class="mdi mdi-account-circle mr-1"></i> Add New Project</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectName">Titre Projet</label>
                                                    <input type="text" class="form-control" id="projectName"
                                                        formControlName="projectName"
                                                        placeholder="Enter you project title">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="startDate">start Date</label>
                                                    <input type="date" class="form-control" id="startDate"
                                                        formControlName="startDate">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="finDate">End Date</label>
                                                    <input type="date" class="form-control" id="finDate"
                                                        formControlName="finDate">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectStatus">project Status</label>
                                                    <input type="text" class="form-control" id="projectStatus"
                                                        formControlName="projectStatus"
                                                        placeholder="Enter the project Status">
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="text-right">
                                           

                                        </div> -->

                                        <div class="sub d-flex flex-row justify-content-between">
                                            <a href="#about-me" data-toggle="tab" aria-expanded="true"
                                                class="nav-link ml-0 active">
                                                <i class="mdi mdi-arrow-left  mr-1"></i>Back
                                            </a>

                                            <button type="submit"
                                                class="btn btn-success waves-effect waves-light mt-2"><i
                                                    class="mdi mdi-content-save"></i> Save</button>

                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="Skills">
                                    <form [formGroup]="profileForm" (ngSubmit)="addSkill()">
        
                                        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i>
                                            Add New Skill</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="skill">Your Skill</label>
                                                    
                                                        <select id="skill" formControlName="SkillId"  class="custom-select">
                                                            <option value="">Select Skill</option>
                                                            <option [value]="skill.id" *ngFor="let skill of skills">{{skill.nameskill}}</option>
                                                         
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="percent">Pourcentage </label>
                                                    <input type="number" max="100" class="form-control" id="percent"
                                                        formControlName="percentage" placeholder="Enter Your rate for this skil">
                                                </div>
                                            </div>
                                        </div>
        
        
                                        <div class="sub d-flex flex-row justify-content-between">
                                            <a href="#about-me" data-toggle="tab" aria-expanded="true"
                                                class="nav-link ml-0 active">
                                                <i class="mdi mdi-arrow-left  mr-1"></i>Back
                                            </a>
        
                                            <button type="submit" class="btn btn-success waves-effect waves-light mt-2"><i
                                                    class="mdi mdi-content-save"></i> Save</button>
        
                                        </div>
                                    </form>
        
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


