<link routerLink="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container-scroller">
    <app-studentnavbar></app-studentnavbar>
    <div class="main-panel">
        <div class="content-wrapper">

            <div class="tr-job-posted section-padding">
                <div class="container">
                    <div class="job-tab text-center">
                        <ul class="nav nav-tabs justify-content-center" role="tablist">
                            <li role="presentation" class="active">
                                <a class="active show" href="#hot-jobs" aria-controls="hot-jobs" role="tab"
                                    data-toggle="tab" aria-selected="true">All internships</a>
                            </li>
                            <li role="presentation"><a href="#recent-jobs" aria-controls="recent-jobs" role="tab"
                                    data-toggle="tab" class="" aria-selected="false">Recent internships</a></li>
                            <li role="presentation"><a href="#popular-jobs" aria-controls="popular-jobs" role="tab"
                                    data-toggle="tab" class="" aria-selected="false">Popular internships</a></li>
                        </ul>
                        <form class="filter-form mt-4">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <label for="jobPosition">Position :</label>
                                        <select id="jobPosition" class="custom-select">
                                            <option value="position1">Business</option>
                                            <option value="position2">Design</option>
                                            <option value="position3">Development</option>
                                            <option value="position4">Engineering</option>
                                            <option value="position5">Finance</option>
                                            <option value="position6">Marketing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <label for="jobType">Type :</label>
                                        <select id="jobType" class="custom-select">
                                            <option value="type1">Full-time</option>
                                            <option value="type3">Part-time</option>
                                            <option value="type4">Remote</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <label for="jobLocation">Location : </label>
                                        <select id="jobLocation" class="custom-select">
                                            <option value="location1">Nabeul</option>
                                            <option value="location3">Mahdia</option>
                                            <option value="location2">Grand Tunis</option>
                                            <option value="location4">Sousse</option>
                                            <option value="location5">Monastir</option>
                                            <option value="location6">Bizerte</option>
                                            <option value="location7">Ariana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="tab-content text-left">
                            <div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3" *ngFor="let offer of offers">
                                        <div class="job-item">
                                            <div class="item-overlay">
                                                <div class="job-info">
                                                    <a routerLink="#" class="btn btn-primary">{{ offer.type }}</a>
                                                    <span class="tr-title">
                                                        <a routerLink="#">{{ offer.title }}</a>
                                                        <span><a routerLink="#">{{offer.technology}}</a></span>
                                                    </span>
                                                    <ul class="tr-list job-meta">
                                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>{{offer.location}}
                                                        </li>
                                                        <li><i class="fa fa-briefcase" aria-hidden="true"></i>{{offer.internship_level}}
                                                        </li>
                                                        <li><i class="mdi mdi-timer" aria-hidden="true"></i>{{offer.duration}}</li>
                                                    </ul>
                                                    <ul class="job-social tr-list">
                                                        <li><a routerLink="#"><i class="mdi mdi-heart-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-expand"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-file-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-right"
                                                                    aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="job-info">
                                                <div class="company-logo">
                                                    <h4>{{ offer.company_name }}</h4>
                                                    <img src="../../assets/images/faces/microsoftCompany.png"
                                                        alt="images" class="img-fluid" height="60px" width="60px">
                                                </div>
                                                <span class="tr-title">
                                                    <a routerLink="#">{{ offer.title }}</a>
                                                    <span><a routerLink="#">{{offer.technology}}</a></span>
                                                </span>
                                                <ul class="tr-list job-meta">
                                                    <li><span><i class="fa fa-map-signs"
                                                                aria-hidden="true"></i></span>{{offer.location}}</li>
                                                    <li><span><i class="fa fa-briefcase"
                                                                aria-hidden="true"></i></span>{{offer.internship_level}}</li>
                                                    <li><span><i class="mdi mdi-timer"
                                                                aria-hidden="true"></i></span>{{offer.duration}}</li>
                                                </ul>
                                                <div class="time">
                                                    <a routerLink="#"><span>{{ offer.type }}</span></a>
                                                    <span class="pull-right">Posted 23 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3" *ngFor="let offer of offers">
                                        <div class="job-item">
                                            <div class="item-overlay">
                                                <div class="job-info">
                                                    <a routerLink="#" class="btn btn-primary">{{ offer.type }}</a>
                                                    <span class="tr-title">
                                                        <a routerLink="#">{{ offer.title }}</a>
                                                        <span><a routerLink="#">{{offer.technology}}</a></span>
                                                    </span>
                                                    <ul class="tr-list job-meta">
                                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>{{offer.location}}
                                                        </li>
                                                        <li><i class="fa fa-briefcase" aria-hidden="true"></i>{{offer.internship_level}}
                                                        </li>
                                                        <li><i class="mdi mdi-timer" aria-hidden="true"></i>{{offer.duration}}</li>
                                                    </ul>
                                                    <ul class="job-social tr-list">
                                                        <li><a routerLink="#"><i class="mdi mdi-heart-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-expand"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-file-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-right"
                                                                    aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="job-info">
                                                <div class="company-logo">
                                                    <h4>{{ offer.company_name }}</h4>
                                                    <img src="../../assets/images/faces/microsoftCompany.png"
                                                        alt="images" class="img-fluid" height="60px" width="60px">
                                                </div>
                                                <span class="tr-title">
                                                    <a routerLink="#">{{ offer.title }}</a>
                                                    <span><a routerLink="#">{{offer.technology}}</a></span>
                                                </span>
                                                <ul class="tr-list job-meta">
                                                    <li><span><i class="fa fa-map-signs"
                                                                aria-hidden="true"></i></span>{{offer.location}}</li>
                                                    <li><span><i class="fa fa-briefcase"
                                                                aria-hidden="true"></i></span>{{offer.internship_level}}</li>
                                                    <li><span><i class="mdi mdi-timer"
                                                                aria-hidden="true"></i></span>{{offer.duration}}</li>
                                                </ul>
                                                <div class="time">
                                                    <a routerLink="#"><span>{{ offer.type }}</span></a>
                                                    <span class="pull-right">Posted 23 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="popular-jobs">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3" *ngFor="let offer of offers">
                                        <div class="job-item">
                                            <div class="item-overlay">
                                                <div class="job-info">
                                                    <a routerLink="#" class="btn btn-primary">{{ offer.type }}</a>
                                                    <span class="tr-title">
                                                        <a routerLink="#">{{ offer.title }}</a>
                                                        <span><a routerLink="#">{{offer.technology}}</a></span>
                                                    </span>
                                                    <ul class="tr-list job-meta">
                                                        <li><i class="fa fa-map-signs" aria-hidden="true"></i>{{offer.location}}
                                                        </li>
                                                        <li><i class="fa fa-briefcase" aria-hidden="true"></i>{{offer.internship_level}}
                                                        </li>
                                                        <li><i class="mdi mdi-timer" aria-hidden="true"></i>{{offer.duration}}</li>
                                                    </ul>
                                                    <ul class="job-social tr-list">
                                                        <li><a routerLink="#"><i class="mdi mdi-heart-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-expand"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-file-outline"
                                                                    aria-hidden="true"></i></a></li>
                                                        <li><a routerLink="#"><i class="mdi mdi-arrow-right"
                                                                    aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="job-info">
                                                <div class="company-logo">
                                                    <h4>{{ offer.company_name }}</h4>
                                                    <img src="../../assets/images/faces/microsoftCompany.png"
                                                        alt="images" class="img-fluid" height="60px" width="60px">
                                                </div>
                                                <span class="tr-title">
                                                    <a routerLink="#">{{ offer.title }}</a>
                                                    <span><a routerLink="#">{{offer.technology}}</a></span>
                                                </span>
                                                <ul class="tr-list job-meta">
                                                    <li><span><i class="fa fa-map-signs"
                                                                aria-hidden="true"></i></span>{{offer.location}}</li>
                                                    <li><span><i class="fa fa-briefcase"
                                                                aria-hidden="true"></i></span>{{offer.internship_level}}</li>
                                                    <li><span><i class="mdi mdi-timer"
                                                                aria-hidden="true"></i></span>{{offer.duration}}</li>
                                                </ul>
                                                <div class="time">
                                                    <a routerLink="#"><span>{{ offer.type }}</span></a>
                                                    <span class="pull-right">Posted 23 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-sm-end">
                                <ul class="pagination mb-sm-0">
                                    <li class="page-item disabled">
                                        <a  class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item active"><a  class="page-link">1</a></li>
                                    <li class="page-item"><a  class="page-link pg">2</a></li>
                                    <li class="page-item"><a  class="page-link pg">3</a></li>
                                    <li class="page-item"><a  class="page-link pg">4</a></li>
                                    <li class="page-item"><a  class="page-link pg">5</a></li>
                                    <li class="page-item">
                                        <a href="#" class="page-link pg"><i class="mdi mdi-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>