<div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
       <h2 class="fw-normal  mt-4">
    2-step verification
    </h2>
    <p class="mt-4">
    We sent a verification code to your email.
    </p>
    <h5>
    Please enter the code in the field below.
    </h5>
    <form>
      <div class="input-field">
        <input type="number" />
        <input type="number" />
        <input type="number" />
        <input type="number" />
      </div> 
      <button class="btn">Verify my account</button>
      <p class="text-center text-muted mt-4">
    Didn't receive it?
    <a class="text-decoration-none ms-2" >
    Resend code
    </a>
    </p>
    </form>
  </div>
