@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.mt-4 {
  margin-top: 1.5rem!important;
}
.w-100 {
  width: 100%!important;
}
.btn-group-lg>.btn, .btn-lg {
  padding: 0.8rem 1.85rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
}
.btn-purple {
  color: #fff;
  background-color: #6672e8;
  border-color: #6672e8;
}

.text-center {
  text-align: center!important;
}
.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}
.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2e50;
  background-color: #f6f9fc;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
:where(.container, form, .input-field, header) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-size: 40px;
    margin-top: 40px;
    line-height:60px ;
    color: #fff;
    text-align: center;
    font-weight: bolder;
  }
  h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
  }
  
    .container {
      font-family: "Poppins", sans-serif;
  
      background: #081441;
      padding: 20px 65px;
      border-radius: 12px;
      row-gap: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 50%;
      margin-top: 50px;
    }
  .container header {
    height: 75px;
    width: 75px;
    background: #3a63ba;
    color: #fff;
    font-size: 3rem;
    border-radius: 50%;
  }
  .container h4 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 500;
  }
  form .input-field {
    flex-direction: row;
    column-gap: 10px;
  }
  .input-field input {
    height: 60px;
    width: 60px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
    display: none;
  }
  form .btn {
    margin-top: 25px;
    width: 80%;
    color: #fff;
    font-size: 1.2rem;

    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #9ab5ee;
    transition: all 0.2s ease;
  }
  form .btn.active {
    background: #4872cc;
    pointer-events: auto;
  }
  form .btn:hover {
    background: #214eb0;
  }


  button {
    overflow: visible;
    width: auto;
}
button.link {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: left;
    color: #9ab5ee;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
   margin-top: 10px;
 
}
button.link span {
    text-decoration: underline;
}
button.link:hover span,
button.link:focus span {
    color: #214eb0;
}