

<app-navbar></app-navbar>
<section id="contact-section">
  <div class="container">
     <h2>Contact Us</h2>
     <p>Email us and keep upto date with our latest news</p>
     <div class="contact-form">
      <div>
        <i class="fa fa-map-marker"></i><span class="form-info">Mahdia</span><br>
        <i class="fa fa-phone"></i><span class="form-info">+123 456789</span><br>
        <i class="fa fa-envelope"></i><span class="form-info">nesrinezarrouk83@Gmail.com</span>
      </div>
    
      <div>
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <input type="text" formControlName="name" placeholder="Your Name" required>
          <input type="text" formControlName="lastName" placeholder="Last Name">
          <br>
          <input type="email" formControlName="email" placeholder="Email" required>
          <br>
          <input type="text" formControlName="subject" placeholder="Subject of this message">
          <br>
          <textarea formControlName="message" placeholder="Message" rows="5" required></textarea>
          <br>
          <button type="submit" class="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>
