<nav >
    <ul class="menu">
      <a routerLink="" class="logo">Eas4trainee <span>.</span></a>
        <li class="item"><a class="aa" routerLink="">Home</a></li>
        <li class="item"><a class="aa" routerLink="/about">About</a></li>
        <li class="item"><a class="aa" routerLink="/discover">Discover</a></li>
        <li class="item"><a class="aa" routerLink="/help">help</a></li>
        <li class="item"><a class="aa" routerLink="/contact">Contact</a></li>
     
        <li class="item button secondary"><a (click)="myDashboard()" >My Dashboard </a></li>
     
       
        <li class="toggle"><span class="bars"></span></li>
      </ul>
  </nav>
