<app-navbar></app-navbar>
<div class="container" id="container">
   
       <form [formGroup]="resetFormPassword">
           <h1>Create a New Password</h1>
          <div>
            <img src="../../assets/resetp.png" alt=""width="150px" height="100px">
          </div>
          
           <div class="form-group">
            <input type="password" placeholder="New Password" id="password" class="pass"  required formControlName="password"/>
            <span class="error"></span>
         </div>
         <div class="form-group">
            <input type="password" placeholder="Confirm password" id="Conpassword" class="Conpass" formControlName="confirmPassword" />
            <span class="error"></span>
         </div>
           <button  type="submit" (click)="resetPassword()">Reset Password</button>
       </form>
   </div>
   
