.content-wrapper{
    background-color: rgb(243, 232, 232);
}

/* ===========
   Profile
 =============*/
.card-box {
  padding: 20px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}
h4{
    color: #333333;
}
.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-bottom: 8px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  text-decoration: none;
  
}
label{
  font-size: 15px;
  font-weight: 600;
}

/* ===========
   Gallery
 =============*/
.portfolioFilter a {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s ease-out;
}
.portfolioFilter a:hover {
  background-color: #228bdf;
  color: #ffffff;
}
.portfolioFilter a.current {
  background-color: #228bdf;
  color: #ffffff;
}
.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}
.form-control{
  background-color: #ffffff;
  color: black;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.img-circle{
  margin-bottom: 20px;
}
.gal-detail h4 {
  margin: 16px auto 10px auto;
  width: 80%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gal-detail .ga-border {
  height: 3px;
  width: 40px;
  background-color: #228bdf;
  margin: 10px auto;
}




.tabs-vertical-env .tab-content {
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  background-color: #ffffff;
  border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
  border: 0;

}
.nav.nav-tabs > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}
.nav.nav-tabs > li > a:hover {
  color: #228bdf !important;
  text-decoration: none;
}
.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav.tabs-vertical > li > a:hover {
  color: #228bdf !important;
}
.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
  border: none;

}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}
.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-custom li {
  margin-bottom: -2px;
}
.navtab-custom li a {
  border-top: 2px solid transparent !important;
}
/*.navtab-custom li.active a {
  border-top: 2px solid #228bdf !important;
}*/
.nav-tab-left.navtab-custom li a {
  border: none !important;
  border-left: 2px solid transparent !important;
}
.nav-tab-left.navtab-custom li.active a {
  border-left: 2px solid #228bdf !important;
}
.nav-tab-right.navtab-custom li a {
  border: none !important;
  border-right: 2px solid transparent !important;
}
.nav-tab-right.navtab-custom li.active a {
  border-right: 2px solid #228bdf !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
  color: #228bdf !important;
}

.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}
.progress.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}




/**/

.border-color-gray {
  border-color: #f2f3fa;
}
.border-all-1 {
  border: 1px solid;
}
.hover-top {
  position: relative;
  top: 0;
}
.m-15px-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}
.overlay-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
}
.border-radius-50 {
  border-radius: 50%;
}
.icon-50 {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 21px;
}
.white-color {
  color: #ffffff;
}
.theme-bg {
  background-color: #0050d8;
}
.icon-50 i.number {
  font-style: normal;
}
.icon-50 i {
  line-height: 50px;
}
.p-20px-l {
  padding-left: 20px;
}
.p-10px-lr {
  padding-left: 10px;
  padding-right: 10px;
}
.p-0px-tb {
  padding-top: 0px;
  padding-bottom: 0px;
}
.border-radius-15 {
  border-radius: 15px;
}
.white-color {
  color: #ffffff;
}
.theme2nd-bg {
  background-color: #53d267;
}
.m-0px {
  margin: 0px;
}
.font-small {
  font-size: .75rem;
  line-height: 1rem;
}

.green-bg-alt {
background-color: rgba(17, 226, 121, 0.1);
}

.green-bg {
background-color: #11e279;
}

.green-after:after {
background-color: #11e279;
}

.green-before:before {
background-color: #11e279;
}

.green-color-alt {
color: rgba(17, 226, 121, 0.65);
}

.green-color {
color: #11e279;
}

.blue-bg-alt {
background-color: rgba(21, 178, 236, 0.1);
}

.blue-bg {
background-color: #15b2ec;
}

.blue-after:after {
background-color: #15b2ec;
}

.blue-before:before {
background-color: #15b2ec;
}

.blue-color-alt {
color: rgba(21, 178, 236, 0.65);
}

.blue-color {
color: #15b2ec;
}

.pink-bg-alt {
background-color: rgba(241, 38, 153, 0.1);
}

.pink-bg {
background-color: #f12699;
}

.pink-after:after {
background-color: #f12699;
}

.pink-before:before {
background-color: #f12699;
}

.pink-color-alt {
color: rgba(241, 38, 153, 0.65);
}

.pink-color {
color: #f12699;
}

.body-bg-alt {
background-color: rgba(113, 128, 150, 0.1);
}

.body-bg {
background-color: #718096;
}

.body-after:after {
background-color: #718096;
}

.body-before:before {
background-color: #718096;
}

.body-color-alt {
color: rgba(113, 128, 150, 0.65);
}

.body-color {
color: #718096;
}

.white-color-light {
color: rgba(255, 255, 255, 0.65);
}

.bg-transparent {
background-color: transparent;
}

.theme-g-bg {
background: linear-gradient(to right, #0050d8, #002a72);
}

.dark-g-bg {
background: linear-gradient(50deg, #273444 0, #272b44 100%);
}
.yellow-bg {
  background-color: #ffbe3d;
}
.border-radius-50 {
  border-radius: 50%;
}
.icon-50 {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 21px;
}
.hidden-xs{
  margin-left: 10px;
}
.box-shadow-only-hover:hover {
box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
}
.border-color-gray {
  border-color: #f2f3fa !important;
}
.border-all-1 {
  border: 1px solid;
}