<div class="container-scroller">
    <app-companynavbar></app-companynavbar>
    <div class="main-panel">
        <div class="content-wrapper">

            <section class="container">
                <header>Create Internship Offer</header>
                <form action="#" class="form">
                    <div class="input-box">
                        <label>Title</label>
                        <input type="text" placeholder="Enter offer title" required />
                    </div>

                    <div class="input-box">
                        <label>Internship Technology </label>
                        <input type="text" placeholder="Enter Technology" required />
                    </div>

                    <div class="column">
                        <div class="input-box">
                            <label>Start Date</label>
                            <input type="date" placeholder="Enter start date" required />
                        </div>
                        <div class="input-box">
                            <label>End Date</label>
                            <input type="date" placeholder="Enter end date" required />
                        </div>
                    </div>
                    <div class="gender-box">
                        <h3>Type</h3>
                        <div class="gender-option">
                            <div class="gender">
                                <input type="radio" id="check-male" name="gender" checked />
                                <label for="check-male">Full-time</label>
                            </div>
                            <div class="gender">
                                <input type="radio" id="check-female" name="gender" />
                                <label for="check-female">Part-time</label>
                            </div>
                            <div class="gender">
                                <input type="radio" id="check-other" name="gender" />
                                <label for="check-other">Remote</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="gender-box1">
                        <h3>Internship Level</h3>
                        <div class="gender-option2">
                            <div class="gender1">
                                <input type="radio" id="check-male1" name="gender1" checked />
                                <label for="check-male1">Mid-Level</label>
                            </div>
                            <div class="gender1">
                                <input type="radio" id="check-female1" name="gender1" />
                                <label for="check-female1">High-Level</label>
                            </div>
                            <div class="gender1">
                                <input type="radio" id="check-other1" name="gender1" />
                                <label for="check-other1">Beginner</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="input-box address">
                        <label>Location</label>
                        
                        <div class="select-box">
                            <select>
                                <option hidden>Select location </option>
                                <option>Nabeul</option>
                                <option>La Marsa</option>
                                <option>Sousse</option>
                                <option>Monastir</option>
                            </select>
                        </div>
                        <input type="text" placeholder="Enter Specific Address" required />
                        <div class="input-box">
                            <label>Add Pictures</label>
                            <input type="file" placeholder="Enter end date" required />
                        </div>
                      
                    </div>
                    <button>Submit</button>
                </form>
            </section>
        </div>
    </div>
</div>