<div class="container-scroller">
    <app-studentnavbar></app-studentnavbar>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
              
                <div class="row justify-content-center">
                    <div class="col-md-8 ">
                        <div class="card cardmax">
                            <div class="card-body">

                                <div class="d-flex align-items-center card-body-centered">
                                    <img src="../../assets/user.png" class="photoprofile" >
                                    <div class="w-100 ms-3 left">
                                        <h4 class="">Geneva McKnight</h4>
                                        <p class="domain text-muted">@webdesigner</p>
                                        <div class="d-flex align-items-center justify-content-center mb-3">
                                            <i class="fas fa-star text-info"></i>
                                            <i class="fas fa-star text-info"></i>
                                            <i class="fas fa-star text-info"></i>
                                            <i class="fas fa-star text-info"></i>
                                            <i class="fas fa-star text-info"></i>
                                        </div>
                                       
                                    </div>
                                </div>
                                
                                <div class="mt-3">
                                    <h4 class=" text-uppercase">About Me :</h4>
                                    <p class="text-muted  mb-3">
                                        Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                                        1500s,
                                        when an unknown printer took a galley of type.
                                    </p>
                                    <p class="text-muted mb-2 "><strong>Full Name :</strong> <span
                                        class="loc">Geneva D.
                                            McKnight</span></p>
                                    <p class="text-muted mb-2 "><strong>Mobile :</strong><span class="loc">(123)
                                            123
                                            1234</span></p>
                                    <p class="text-muted mb-2 "><strong>Email :</strong> <span class="loc">
                                        <a>nesrineeeeeeee@gmil</a></span>
                                    </p>
                                    <p class="text-muted mb-1 "><strong>Location :</strong> <span
                                            class="loc">USA</span>
                                    </p>
                                </div>
                                <p class="text-muted mb-1 "><strong>Services :</strong>
                                <div class="col-sm-4 py-2">
                                    <span class="badge2 bg-secondary">REACT</span>
                                    <span class="badge2 bg-secondary">NODE</span>
                                    <span class="badge2 bg-secondary">TYPESCRIPT</span>
                                    <span class="badge2 bg-secondary">JUNIOR</span>
                                  </div>
                                <div class=" card col-md-12">
                                    <div class="tabord card-body text-center">
                                        <div class="row">
                                            <div class="col-4 border-end border-light">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Applied</h5>
                                                <h2 class="mb-0 fw-bold">116</h2>
                                            </div>
                                            <div class="col-4 border-end border-light">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Reviewed</h5>
                                                <h2 class="mb-0 fw-bold">87</h2>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Contacted</h5>
                                                <h2 class="mb-0 fw-bold">98</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center gap-2 pt-4 ">
                                    <button type="button" class="follow btn btn-primary btn-sm w-70"
                                        ><i class="bx bx-user "></i> Profile</button>
                                    <button type="button" class="btn btn-primary btn-sm w-70"><i
                                            class="bx bx-message-square-dots me-1"></i> Contact</button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                  
                </div>

                <!-- <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dropdown float-end">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">

                                        <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>

                                        <a href="javascript:void(0);" class="dropdown-item">Export Report</a>

                                        <a href="javascript:void(0);" class="dropdown-item">Profit</a>

                                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    </div>
                                </div>
                                <h4 class="header-title mb-3">Upcoming Reminders <i class="mdi mdi-adjust ms-1"></i>
                                </h4>
                                <div class="list-group">
                                    <a href="#" class="my-1">
                                        <div class="d-flex align-items-start" id="tooltips-container">
                                            <div class>
                                                <i class="mdi mdi-circle h3 text-primary"></i>
                                            </div>
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1 mt-0">New Admin Layout Discuss</h5>
                                                <ul class="list-inline text-muted font-12">
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-calendar-blank-outline me-1"></i>10 May 2021
                                                    </li>
                                                    <li class="list-inline-item"> - </li>
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-clock-time-eight-outline me-1"></i>09:00am
                                                        <span class="px-1">To</span> 10:30am</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="my-1">
                                        <div class="d-flex align-items-start" id="tooltips-container">
                                            <div class>
                                                <i class="mdi mdi-circle h3 text-pink"></i>
                                            </div>
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1 mt-0">Landing Pages Planning</h5>
                                                <ul class="list-inline text-muted font-12">
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-calendar-blank-outline me-1"></i>10 May 2021
                                                    </li>
                                                    <li class="list-inline-item"> - </li>
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-clock-time-eight-outline me-1"></i>02:00pm
                                                        <span class="px-1">To</span> 4:00pm</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="my-1">
                                        <div class="d-flex align-items-start" id="tooltips-container">
                                            <div class>
                                                <i class="mdi mdi-circle h3 text-success"></i>
                                            </div>
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1 mt-0">Meet Our Clients</h5>
                                                <ul class="list-inline text-muted font-12">
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-calendar-blank-outline me-1"></i>11 May 2021
                                                    </li>
                                                    <li class="list-inline-item"> - </li>
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-clock-time-eight-outline me-1"></i>08:00am
                                                        <span class="px-1">To</span> 11:20am</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="my-1">
                                        <div class="d-flex align-items-start" id="tooltips-container">
                                            <div class>
                                                <i class="mdi mdi-circle h3 text-warning"></i>
                                            </div>
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1 mt-0">Project Discussion</h5>
                                                <ul class="list-inline text-muted font-12">
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-calendar-blank-outline me-1"></i>11 May 2021
                                                    </li>
                                                    <li class="list-inline-item"> - </li>
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-clock-time-eight-outline me-1"></i>12:00am
                                                        <span class="px-1">To</span> 03:00am</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="my-1">
                                        <div class="d-flex align-items-start" id="tooltips-container">
                                            <div class>
                                                <i class="mdi mdi-circle h3 text-dark"></i>
                                            </div>
                                            <div class="w-100 ms-2">
                                                <h5 class="mb-1 mt-0">Businees Meeting</h5>
                                                <ul class="list-inline text-muted font-12">
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-calendar-blank-outline me-1"></i>12 May 2021
                                                    </li>
                                                    <li class="list-inline-item"> - </li>
                                                    <li class="list-inline-item"><i
                                                            class="mdi mdi-clock-time-eight-outline me-1"></i>08:30am
                                                        <span class="px-1">To</span> 10:00am</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->




            </div>
        </div>
    </div>
</div>